*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
}

body{
    background-color: #6C21B7;
}

.eclipse{
    width: 250px;
    height: 250px;
    border-radius: 1000px;
    background-image: linear-gradient(to right bottom,#4D1C7E,#8B32E4);
    position: relative;
    z-index: 1;
    display: inline-block;
}
.main{
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-round{
    text-align: center;
    position: relative;
    padding: 40px;
    z-index: 1;
    
}
.form-control{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
input{
    all:unset;
    padding: 8px 8px;
    border-radius: 12px;
    text-align: start;
    font-weight: 400;
    margin: 5px;
    background-color: rgb(42, 41, 40);
    outline: none;
    color: white;
}
button{
    all: unset;
    margin-top: 15px;
    padding: 3px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 4px;
    background-color: rgb(42, 41, 40);
    color: rgb(239, 239, 239);
    padding: 5px;
}
label{
    position: relative;
    right: 52px;
    color: white;
    font-weight: 400;
}
.lable-2{
    right: 60px;

}

input:hover{
    transform: scale(1.05);
    background-color: rgb(152, 241, 211);
    color: rgb(0, 0, 0);

}

button:hover{
    background-color: rgb(67, 255, 189);
    transform: scale(1.05);
    color: rgb(0, 0, 0);
}
