<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

</head>


<body>
    <div class="page">
        <button class="add-button"><a href="{% url 'add' %}" class="anc">Add</a></button>
        <button class="view-button"><a href="{% url 'view' %}" class="anc">View</a></button>
    </div>
    
</body>
</html>